.player-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 150px;
	background: rgba(255, 255, 255, 0.3);
	z-index: 100;
}

.player-bar a {
	font-size: 1.1rem;
	vertical-align: middle;
}

.player-bar a,
.player-bar a:hover {
	color: white;
	cursor: pointer;
	text-decoration: none;
}

.player-bar .container {
	display: table;
	padding: 0;
	width: 90%;
	min-height: 100%;
}

.player-bar .control-group {
	display: table-cell;
	vertical-align: middle;
}

.player-bar .main-controls {
	width: 25%;
	text-align: left;
	padding-right: 1rem;
}

.player-bar .main-controls .previous {
	margin-right: 16.5%;
}

.player-bar .main-controls .play-pause {
	margin-right: 15%;
	font-size: 1.6rem;
}

.player-bar .currently-playing {
	width: 50%;
	text-align: center;
	position: relative;
}

.player-bar .currently-playing .song-name,
.player-bar .currently-playing .artist-name,
.player-bar .currently-playing .artist-song-mobile {
	text-align: center;
	font-size: 0.75rem;
	margin: 0;
	position: absolute;
	width: 100%;
	font-weight: 300;
}

.player-bar .currently-playing .song-name,
.player-bar .currently-playing .artist-song-mobile {
	top: 1.1rem;
}

.player-bar .currently-playing .artist-name {
	bottom: 1.1rem;
}

.player-bar .currently-playing .artist-song-mobile {
	display: none;
}

.seek-control {
	position: relative;
	font-size: 0.8rem;
}

.seek-control .current-time {
	position: absolute;
	top: 0.5rem;
}

.seek-control .total-time {
	position: absolute;
	right: 0;
	top: 0.5rem;
}

.seek-bar {
	height: 0.25rem;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 2px;
	position: relative;
	cursor: pointer;
}

.seek-bar .fill {
	background: white;
	width: 36%;
	height: 0.25rem;
	border-radius: 2px;
}

.seek-bar .thumb {
	position: absolute;
	height: 0.5rem;
	width: 0.5rem;
	background: white;
	left: 36%;
	top: 50%;
	margin-left: -0.25rem;
	margin-top: -0.25rem;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: all 100ms ease-in-out;
	   -moz-transition: all 100ms ease-in-out;
			transition: width 100ms ease-in-out,
						height 100ms ease-in-out,
						margin-top 100ms ease-in-out,
						margin-left 100ms ease-in-out;
}

.seek-bar:hover .thumb {
	width: 1.1rem;
	height: 1.1rem;
	margin-top: -0.5;
	margin-left: -0.5rem;
}

.player-bar .volume {
	width: 20%;
	text-align: right; 
}

.player-bar .volume .icon {
     font-size: 1.1rem;
     display: inline-block;
     vertical-align: middle;
 }
 
 .player-bar .volume .seek-bar {
     display: inline-block;
     width: 5.75rem;
     vertical-align: middle;
 }

.player-bar .mute {
		width: 5%;
		text-align: center;
}



@media (max-width: 40rem) {
     .player-bar {
         padding: 1rem;
         background: rgba(0,0,0,0.6);
     }
 
     .player-bar .main-controls,
     .player-bar .currently-playing,
     .player-bar .volume {
         display: block;
         margin: 0 auto;
         padding: 0;
         width: 100%;
         text-align: center;
     }
     
     .player-bar .main-controls,
     .player-bar .volume {
         min-height: 3.5rem;
     }
     
     .player-bar .currently-playing {
         min-height: 2.5rem;
     }
      
     .player-bar .artist-name,
     .player-bar .song-name {
         display: none;
     }
 
     .player-bar .artist-song-mobile {
         display: block;
     }
 }