<main class="album-view container narrow">
     <section class="clearfix">
         <div class="column half">
             <img src="/assets/images/album_covers/01.png" class="album-cover-art">
         </div>
         <div class="album-view-details column half">
             <h2 class="album-view-title">The Colors</h2>
             <h3 class="album-view-artist">Pablo Picasso</h3>
             <h5 class="album-view-release-info">1909 Spanish Records</h5>
         </div>
     </section>
     <table class="album-view-song-list">
         <tr class="album-view-song-item">
             <td class="song-item-number">1</td>
             <td class="song-item-title">Blue</td>
             <td class="song-item-duration">3:31</td>
         </tr>
     </table>
 </main>