<section class="player-bar">
     <div class="container">
         <div class="control-group main-controls">
             <a class="previous">
                 <span class="ion-skip-backward"></span>
             </a>
             <a class="play-pause">
                 <span class="ion-play"></span>
             </a>
             <a class="next">
                 <span class="ion-skip-forward"></span>
             </a>
         </div>
         <div class="control-group currently-playing">
             <h2 class="song-name"></h2>
             <h2 class="artist-song-mobile"></h2>
             <h3 class="artist-name"></h3>
             <div class="seek-control">
                 <div class="seek-bar">
                     <div class="fill"></div>
                     <div class="thumb"></div>
                 </div>
                 <div class="current-time"></div>
                 <div class="total-time"></div>
             </div>
         </div>
         <div class="control-group volume">
             <span class="icon ion-volume-high"></span>
             <div class="seek-bar">
                 <div class="fill"></div>
                 <div class="thumb"></div>
             </div>
         </div>
     </div>
 </section>